body {
  background-color: #b9b9b9;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7e7e7e;
}

footer img {
  position: absolute;
  -webkit-filter: opacity(40%);
          filter: opacity(40%);
}

#carousel-example-2 {
  background-size: cover;
}

footer ul li a {
  text-decoration: none !important;
  color: #bebebe;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

footer ul li a:hover {
  text-decoration: none !important;
  text-transform: uppercase;
  color: #cfcece;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* INICIO GALERIA */
.galeria {
  max-height: 800px !important;
}

.row {
  /* display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; */
  margin: 1px;
  /* margin-left: -15px; */
}

.imagenes h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 45px;
  font-variant: small-caps;
  text-align: center;
  color: #424242;
  /* background-color: grey; */
}

.imagen:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}

/* FIN GALERIA */
/* INICIO FORMULARIO CONTACTO */
#messages {
  display: none;
}

/* .fondocontact {
    background-color: rgb(185, 185, 185);
} */
.contacto {
  margin-top: 3%;
  margin-bottom: 5%;
  /* border: 3px red solid; */
  background-color: rgba(110, 163, 145, 0.767);
}

.container form {
  padding: 30px;
  /* border: 3px black solid; */
}

/* FINAL FORMULARIO CONTACTO */
/* INICIO PRODUCTOS */
.lightbox {
  padding: 10px;
  padding-bottom: 30px;
  /*     border: 2px black solid; */
}

.lightbox h1 {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
}

.lightbox .row p {
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 2px black solid; */
}

/* FINAL PRODUCTOS */
/* INFORMACION INICIO */
.infomenu {
  /* border: 2px black solid; */
  background-image: url(img/jGlzr.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 2%;
}

.infomenu h2 {
  text-align: center;
  font-size: 40px;
}

.infomenu div {
  /* border: 2px black solid; */
  margin-top: 10px;
  height: 235px;
}

.textoi {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 5px;
}

.infomenu p {
  text-align: center;
  font-size: 16px;
  margin-top: 20px;
  margin-left: 5px;
}

.mapa {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
}

.videoyt {
  position: relative;
  text-align: center;
  font-size: 20px;
  font-style: oblique;
}

/* INFORMACION FIN */
/*# sourceMappingURL=style.css.map */